.loading-screen{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:#0B1120;
}

.loader{
width:70px;
height:70px;
border:6px solid rgba(200,217,230,.15);
border-top:6px solid #C8D9E6;
border-radius:50%;
animation:spin 1s linear infinite;
margin-bottom:25px;
}

.loading-screen h2{
color:white;
font-size:30px;
margin-bottom:10px;
}

.loading-screen p{
color:#B7C3CF;
}

@keyframes spin{
100%{
transform:rotate(360deg);
}
}